version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    cooldown: # applies only to version-updates (not security-updates)
      default-days: 7
      semver-minor-days: 14 # wait 14 days before applying minor updates
      semver-major-days: 28
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
