/* $Id$ */

article, book {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 1in;
}

/*
 * Titles
 */
title {
	display: block;
	color: maroon;
}

article title,
book title {
	font-weight: bold;
	font-size: 200%;
}

/* level 0 */
chapter,
appendix,
bibliography
{
	counter-increment: sect0;
	counter-reset: sect1;
}

chapter > title:before,
appendix > title:before,
bibliography > title:before
{
	content: counter(sect0) " ";
}

chapter > title,
appendix > title,
bibliography > title
{
	font-weight: bold;
	font-size: xx-large;
}

/* level 1 */
section {
	counter-increment: sect1;
	counter-reset: sect2;
}

section > title:before {
	content: counter(sect0) "." counter(sect1) " ";
}

section > title {
	font-weight: bold;
	font-size: x-large;
}

/* level 2 */
section > section {
	counter-increment: sect2;
	counter-reset: sect3;
}

section > section > title:before {
	content: counter(sect0) "." counter(sect1) "." counter(sect2) " ";
}

section > section > title {
	font-weight: bold;
	font-size: large;
}

/* level 3 */
section > section > section {
	counter-increment: sect3;
	counter-reset: sect4;
}

section > section > section > title:before {
	content: counter(sect0) "." counter(sect1) "." counter(sect2) "." counter(sect3) " ";
}

section > section > section > title {
	font-weight: bold;
	font-size: 100%;
}

/*
 * Sections and paragraphs
 */
chapter, appendix, bibliography {
	display: block;
	margin-top: 3em;
}

section {
	display: block;
	margin-top: 1em;
}

para {
	display: block;
	margin-top: 1ex;
}

/*
 * Lists
 */
orderedlist {
	display: block;
}

orderedlist listitem {
	display: list-item;
	list-style-type: disc inside;
	margin-left: 4em;
}
